<a href="https://colab.research.google.com/github/Jin0331/TA/blob/master/DS_Lab_6.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# *6주차 실습*

- - -

## ``dpylr`` library (1)

## 1. tibble

* Tibbles은 data.frame을 현대적으로 재구성한 것으로 ``Simple Data Frames``이라고 생각할 수 있다. 

* Tibbles은 data.frame을 만드는 좋은 방법이며, ``데이터를 간략하게 표현이 가능하여 대용량 데이터 세트를 다루는데 보다 용이``

* data.frame의 문자로 구성된 변수가 factor요인으로 인식되는 경우를 종종 볼 수 있다. ``Tibbles은 이 점을 보완하여 입력의 유형이 변경되지 않아 chracter변수를 이용하는데 보다 편함.``

* tibble 공식 소개글 

``Tibbles are data frames``, but they tweak some older behaviours to make life a little easier. R is an old language, and some things that were useful 10 or 20 years ago now get in your way. It’s difficult to change base R without breaking existing code, so most innovation occurs in packages. Here we will describe the tibble package, which provides opinionated data frames that make working in the tidyverse a little easier. In most places, I’ll use the term tibble and data frame interchangeably; when I want to draw particular attention to R’s built-in data frame, I’ll call them data.frames.

``you might enjoy vignette("tibble").``

In [ ]:
# In this chapter we’ll explore the tibble package, part of the core tidyverse.
#install.package("tidyverse")
library(tidyverse)

### Creating tibbles

In [ ]:
# Most other R packages use regular data frames, so you might want to coerce a data frame to a tibble. You can do that with as_tibble():
class(as_tibble(iris))
class(iris)

[1] "tbl_df"     "tbl"        "data.frame"

[1] "data.frame"

In [ ]:
tibble(
  x = 1:5, 
  y = 1, 
  z = x ^ 2 + y
)

In [ ]:
tribble(
  ~x, ~y, ~z,
  #--|--|----
  "a", 2, 3.6,
  "b", 1, 8.5
)

### Subseting

So far all the tools you’ve learned have worked with complete data frames. If you want to pull out a single variable, you need some new tools, ``$`` and ``[[``. ``[[`` can extract by name or position; ``$`` only extracts by name but is a little less typing.

In [ ]:
df <- tibble(
  x = runif(5), # 0 ~ 1까지의 균일분포
  y = rnorm(5)  # 정규분포
)

In [ ]:
df %>% show() # google colab or jupyter notebook을 사용하는 경우에는 %>% show() 붙여줘야 요약된 정보가 추출됨

In [ ]:
# Extract by name, return vector
df$x
df[["x"]]

In [ ]:
# Extract by position, return vecotr
df[[1]]

In [ ]:
# column, return tibble
df["x"]
df[1]

In [ ]:
df %>% .$x

df %>% .[["x"]]

##2. dplyr - select, filter, groupby, summarize, %>%

- - -

dplyr 패키지는 Hadley Wickham가 작성한 데이터 처리에 특화된 R 패키지입니다. 이 분이 지금까지 작성한 유명한 R 패키지로는 ggplot2, plyr, reshape2등이 있으며 이미 많은 분들이 사용하고 있으리라 생각합니다.

데이터 처리에 특화된 유용한 패키지로는 역시 Hadley Wickham이 만든 plyr이라는 패키지가 있었습니다. 그러나 ``plyr은 편리하긴 했지만 모든 함수가 R로 작성되어서 처리 속도가 느리다는 단점``이 있었습니다. 이에 반해 ``dplyr은 C++로 작성되어 불필요한 함수를 불러오지 않기 때문에 매우 빠른 처리 속도를 자랑``합니다.

dplyr 패키지는 데이터 프레임을 처리하는 함수군으로 구성되어 있습니다. 하지만 그 밖에도 다음 형식의 데이터를 이용할 수 있습니다.

* data.table : data.table 패키지와 사용
* 각종 데이터베이스 : 현재 MySQL, PostgreSQL, SQLite, BigQuery를 지원
* 데이터 큐브 : dplyr 패키지 내부에 실험적으로 내장됨

In [ ]:
install.packages("data.table")
library(dplyr) # or library(tidyverse)
library(data.table)

Installing package into ‘/usr/local/lib/R/site-library’
(as ‘lib’ is unspecified)

In [ ]:
# 실습 데이터 다운로드!!
DF <- fread("ftp://210.115.229.94/2020_datascience/6th_data/Pre_Season_Batter.csv", header = T, encoding = "UTF-8") %>%
  as_tibble()

# DF <- as_tibble(DF)를 %>%으로 간소화

In [ ]:
DF %>% show() # Rstudio에서는 tibble 변수(DF)만 입력해도 됨.

* select

In [ ]:
# base R
DF[, c("batter_name", "team")] %>% show()

In [ ]:
# dplyr
DF %>% select(., batter_name, team) %>% show()

In [ ]:
DF %>% select(., -batter_name, -team) %>% show()

In [ ]:
DF %>% select(., 이름 = batter_name, 팀 = team) %>% show()

In [ ]:
DF %>% select(., batter_name1 = batter_name, batter_name2 = batter_name, batter_name3 = batter_name) %>% show()

In [ ]:
DF %>% select(., 이름 = batter_name, 팀 = team, `R/G` = R/G) %>% show()

In [ ]:
DF %>% show()

In [ ]:
# %>%의 마지막 단계가 지정된 변수에 저장된다.
DF %>% show()
DF_2 <- DF %>% select(., 이름 = batter_name, 팀 = team, `R/G` = R/G) 
DF_2 %>% show()

* filter --> `Extract rows that meet logical
criteria`

In [ ]:
# base R
DF[DF$team == "한화", c("team","batter_name")] %>% show()

In [ ]:
DF[DF$team == "한화" & (DF$G >= 5 | DF$AB >= 15), c("team","batter_name", "G", "AB")] %>% unique() %>% show()

In [ ]:
# dplyr
DF %>% filter(., team == "한화" & (G >=5 | AB >= 15)) %>% show()

In [ ]:
DF %>% filter(., team == "한화" & (G >=5 | AB >= 15)) %>% select(., team, batter_name, G, AB) %>% unique() %>% show()


* groupby, summarise

``https://dplyr.tidyverse.org/reference/group_by.html``

![대체 텍스트](https://img1.daumcdn.net/thumb/R800x0/?scode=mtistory2&fname=https%3A%2F%2Ft1.daumcdn.net%2Fcfile%2Ftistory%2F9978503F5B8264490F))

In [ ]:
DF %>% group_by(team) %>% show()

In [ ]:
DF %>% group_by(team) %>% summarise(., G_AVG = mean(G), AB_A = mean(AB), R_SUM = sum(R)) %>% show()

In [ ]:
DF %>% group_by(team, batter_name) %>% summarise(., G_AVG = mean(G), AB_AVG = mean(AB), R_AVG = mean(R))