<a href="https://colab.research.google.com/github/Jin0331/TA/blob/master/DS_Lab_7.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# *7주차 실습*

- - -

## ``dpylr(2), tidyr`` library

## 1. 데이터사이언스 프로세스 과정

``"R for Data Science" 책 내용 중 中``

<br>

![대체 텍스트](https://wikidocs.net/images/page/53137/data-science-explore.png)

<br>

``첫째, "데이터 불러오기 (Import)"``. 데이터를 불러오는 방법은 굉장히 다양하다. CSV파일부터 API를 활용한 방법까지 매우 다양하다. 그런데, 입문자들에게는 데이터를 불러오고 내보내는 것조차 어려울 수 있다. 특히, 여러개의 엑셀파일을 한꺼번에 불러오는 것이 실무에서는 많이 필요한데, 이러한 내용을 다루는 과정이 많이 없어서 예제와 함께 다룰 예정이다.

``둘째, "데이터 가공하기 (Tidy)"``. 데이터를 가공하는 뜻은 원래 데이터에서 결측치, 이상치, 지저분한 데이터, 변수의 변환 등을 다룬다. 여기에서는 깊게 다루지는 않을 예정이다. 이유는 간단하다. 재미없고 지루하다. 날짜 데이터 처리, 정규표현식 등을 입문자들에게 먼저 알려준다면, 대부분의 사람들은 쉽게 포기하고 말 것이다. (사실, 필자도 어렵고 매번 실무에서는 힘들다!)

``셋째, "데이터 변형하기 (Transform)"``. 필자가 주로 쓰는 표현으로는 분석테이블 만들기이다. 행이 1억개, 열이 1만개 있다고 해서, 우리가 모든 것을 시각화하고 분석할 수는 없다. 행과 열을 추출해야 하며, 중간중간 필요에 따라 요약도 해야 한다. 데이터를 변형하는 과정이 데이터 과학자 업무에 있어서 가장 중요한 역량이라 생각하며, 또한 반드시 중요한 부분이다. R과 Python은 데이터 변형에 특화된 패키지를 보유하고 있다. R은 dplyr 패키지를, Python은 Pandas 모듈이 유명하기 때문에, 본 책에서는 이를 기반으로 심도 깊게 다룰 예정이다. 또한, 속도를 중시하는 업계의 특성상, R의 data.table 패키지를 소개하며, 각 동일한 내용을 요약하는데 각 패키지별 속도 비교도 할 예정이다.

``넷째, "데이터 시각화하기"``. 데이터 시각화는 분석테이블를 기본 데이터로 활용하여 진행하는 것이다. 입문자들이 실수하는 것 중의 하나가 데이터 가공과 변형을 생략한채, 데이터 수집 이후 곧바로 시각화를 진행하는 경우다. 이는 반드시 지양해야 하며, 꼭 가공과 변형 과정을 거친 후 진행하기를 바란다. 시각화의 방법은 여러가지가 있으나, 디테일한 설명보다는 실무적으로 즉시 사용 가능한 예제를 중심으로 준비하였다. 동적 시각화보다는 정적 시각화 위주로 준비하였고, R은 ggplot2 패키지를 Python은 seaborn 모듈을 활용한 예제를 준비하였다.

이제 ``"데이터 모형 만들기"와 "외부와 소통하기"``가 남아 있다. 데이터 모델 만들기는 통계, 머신러닝, 딥러닝 모형과 연관있는 주제이며, 외부와 소통하기는 보통 보고서, 웹앱 개발과 연관이 되어 있다. 각 분야는 실질적으로 도메인 지식 + IT 지식과 필수적으로 연계가 되어야 하는 매우 큰 주제이기 때문에 본 책에서는 다루지 않는다. 다만, 부록으로 샘플코드만 제공할 예정이다. 이 부분은 가볍게 보기를 바란다.

##2. dplyr(``arrange,rename,sample_frac/n, join``), tidyr(``gather, spread``)

- - -

In [ ]:
install.packages(c("tidyverse", "data.table"))
library(tidyverse);library(data.table)

Installing packages into ‘/usr/local/lib/R/site-library’
(as ‘lib’ is unspecified)


Attaching package: ‘data.table’


The following objects are masked from ‘package:dplyr’:

    between, first, last


The following object is masked from ‘package:purrr’:

    transpose

In [ ]:
# 실습 데이터 다운로드!!
DF <- fread("ftp://210.115.229.94/2020_datascience/6th_data/Pre_Season_Batter.csv", header = T, encoding = "UTF-8") %>%
  as_tibble()

In [ ]:
DF %>% show() # Rstudio에서는 tibble 변수(DF)만 입력해도 됨.

# A tibble: 1,393 x 29
   batter_id batter_name  year team  avg       G    AB     R     H  `2B`  `3B`
       <int> <chr>       <int> <chr> <chr> <int> <int> <int> <int> <int> <int>
 1         0 가르시아     2018 LG    0.350     7    20     1     7     1     0
 2         1 강경학       2011 한화  0.000     4     2     2     0     0     0
 3         1 강경학       2014 한화  -         4     0     2     0     0     0
 4         1 강경학       2015 한화  0.130    10    23     3     3     0     0
 5         1 강경학       2016 한화  0.188    14    32     4     6     1     1
 6         1 강경학       2017 한화  0.222    11    36    10     8     0     0
 7         2 강구성       2013 NC    0.000     3     4     0     0     0     0
 8         2 강구성       2016 NC    0.000     3     1     0     0     0     0
 9         2 강구성       2017 NC    1.000     2     1     0     1     0     0
10        69 김태완       2006 한화  0.200    10    15     0     3     0     0
# … with 1,383 more rows, and 18 more variables: HR <int>, TB <int>, RBI <int>,
#   SB <int>, CS <int>, BB <int>, HBP <int>, SO <int>, GDP <int>, SLG <dbl>,
#   OBP <dbl>, E <int>, `height/weight` <chr>, year_born <chr>, position <chr>,
#   career <chr>, starting_salary <chr>, OPS <dbl>

In [ ]:
DF %>% str()

tibble [1,393 × 29] (S3: tbl_df/tbl/data.frame)
 $ batter_id      : int [1:1393] 0 1 1 1 1 1 2 2 2 69 ...
 $ batter_name    : chr [1:1393] "가르시아" "강경학" "강경학" "강경학" ...
 $ year           : int [1:1393] 2018 2011 2014 2015 2016 2017 2013 2016 2017 2006 ...
 $ team           : chr [1:1393] "LG" "한화" "한화" "한화" ...
 $ avg            : chr [1:1393] "0.350" "0.000" "-" "0.130" ...
 $ G              : int [1:1393] 7 4 4 10 14 11 3 3 2 10 ...
 $ AB             : int [1:1393] 20 2 0 23 32 36 4 1 1 15 ...
 $ R              : int [1:1393] 1 2 2 3 4 10 0 0 0 0 ...
 $ H              : int [1:1393] 7 0 0 3 6 8 0 0 1 3 ...
 $ 2B             : int [1:1393] 1 0 0 0 1 0 0 0 0 0 ...
 $ 3B             : int [1:1393] 0 0 0 0 1 0 0 0 0 0 ...
 $ HR             : int [1:1393] 1 0 0 0 0 2 0 0 0 0 ...
 $ TB             : int [1:1393] 11 0 0 3 9 14 0 0 1 3 ...
 $ RBI            : int [1:1393] 5 1 0 1 2 4 0 0 0 3 ...
 $ SB             : int [1:1393] 0 0 0 3 1 0 0 1 0 0 ...
 $ CS             : int [1:1393] 0 1 0 0 2 0 0 0 0 0 ...
 $ BB             : int [1:1393] 2 0 0 4 0 3 0 1 0 1 ...
 $ HBP            : int [1:1393] 0 2 0 1 1 0 0 0 0 1 ...
 $ SO             : int [1:1393] 3 1 0 9 10 10 0 0 0 5 ...
 $ GDP            : int [1:1393] 1 0 0 0 0 0 1 1 0 1 ...
 $ SLG            : num [1:1393] 0.55 0 NA 0.13 0.281 0.389 0 0 1 0.2 ...
 $ OBP            : num [1:1393] 0.409 0.5 NA 0.286 0.212 0.282 0 0.5 1 0.278 ...
 $ E              : int [1:1393] 1 0 0 2 0 1 0 0 0 0 ...
 $ height/weight  : chr [1:1393] "177cm/93kg" "180cm/72kg" "180cm/72kg" "180cm/72kg" ...
 $ year_born      : chr [1:1393] "1985년 04월 12일" "1992년 08월 11일" "1992년 08월 11일" "1992년 08월 11일" ...
 $ position       : chr [1:1393] "내야수(우투우타)" "내야수(우투좌타)" "내야수(우투좌타)" "내야수(우투좌타)" ...
 $ career         : chr [1:1393] "쿠바 Ciego de Avila Maximo Gomez Baez(대)" "광주대성초-광주동성중-광주동성고" "광주대성초-광주동성중-광주동성고" "광주대성초-광주동성중-광주동성고" ...
 $ starting_salary: chr [1:1393] "" "10000만원" "10000만원" "10000만원" ...
 $ OPS            : num [1:1393] 0.959 0.5 NA 0.416 0.493 0.671 0 0.5 2 0.478 ...
 - attr(*, ".internal.selfref")=<externalptr>

* ``arrange``
  1. 지정한 열을 기준으로 작은 값으로부터 큰 값의 순으로 데이터를 정렬. 역순 정렬 ``desc()``
  2. Unlike base sorting with sort(), NA are:

    * always sorted to the end for local data, even when wrapped with desc().
  3. arrange_all

In [ ]:
DF %>% arrange(year) %>% show()

# A tibble: 1,393 x 29
   batter_id batter_name  year team  avg       G    AB     R     H  `2B`  `3B`
       <int> <chr>       <int> <chr> <chr> <int> <int> <int> <int> <int> <int>
 1        62 김주찬       2002 롯데  0.107     9    28     2     3     0     0
 2        67 김태균       2002 한화  0.235    11    34     7     8     5     0
 3       109 박기혁       2002 롯데  0.000     8     5     1     0     0     0
 4       119 박용택       2002 LG    -         1     0     0     0     0     0
 5       131 박한이       2002 삼성  0.319    11    47     7    15     3     0
 6       202 이대호       2002 롯데  0.359    11    39     4    14     3     0
 7       207 이범호       2002 한화  0.167     7     6     2     1     1     0
 8       283 조동찬       2002 삼성  0.000     4     1     0     0     0     0
 9       234 이진영       2002 SK    0.297    11    37     5    11     2     0
10       269 정상호       2002 SK    0.158    13    19     3     3     1     0
# … with 1,383 more rows, and 18 more variables: HR <int>, TB <int>, RBI <int>,
#   SB <int>, CS <int>, BB <int>, HBP <int>, SO <int>, GDP <int>, SLG <dbl>,
#   OBP <dbl>, E <int>, `height/weight` <chr>, year_born <chr>, position <chr>,
#   career <chr>, starting_salary <chr>, OPS <dbl>

In [ ]:
DF %>% arrange(year, desc(team)) %>% show() # year는 ascending(오름차순), team은 descending(내림차순)

# A tibble: 1,393 x 29
   batter_id batter_name  year team  avg       G    AB     R     H  `2B`  `3B`
       <int> <chr>       <int> <chr> <chr> <int> <int> <int> <int> <int> <int>
 1        67 김태균       2002 한화  0.235    11    34     7     8     5     0
 2       207 이범호       2002 한화  0.167     7     6     2     1     1     0
 3       131 박한이       2002 삼성  0.319    11    47     7    15     3     0
 4       283 조동찬       2002 삼성  0.000     4     1     0     0     0     0
 5       319 최형우       2002 삼성  0.000     5     5     1     0     0     0
 6        62 김주찬       2002 롯데  0.107     9    28     2     3     0     0
 7       109 박기혁       2002 롯데  0.000     8     5     1     0     0     0
 8       202 이대호       2002 롯데  0.359    11    39     4    14     3     0
 9       234 이진영       2002 SK    0.297    11    37     5    11     2     0
10       269 정상호       2002 SK    0.158    13    19     3     3     1     0
# … with 1,383 more rows, and 18 more variables: HR <int>, TB <int>, RBI <int>,
#   SB <int>, CS <int>, BB <int>, HBP <int>, SO <int>, GDP <int>, SLG <dbl>,
#   OBP <dbl>, E <int>, `height/weight` <chr>, year_born <chr>, position <chr>,
#   career <chr>, starting_salary <chr>, OPS <dbl>

In [ ]:
DF %>% arrange(team, desc(avg)) %>% show()

# A tibble: 1,393 x 29
   batter_id batter_name  year team  avg       G    AB     R     H  `2B`  `3B`
       <int> <chr>       <int> <chr> <chr> <int> <int> <int> <int> <int> <int>
 1       145 서동욱       2004 KIA   1.000     1     1     1     1     0     0
 2       217 이용규       2009 KIA   1.000     1     2     0     2     0     0
 3        12 강한울       2015 KIA   0.600     3    10     2     6     0     1
 4       139 백용환       2018 KIA   0.600     3     5     1     3     1     0
 5       243 이호신       2009 KIA   0.500     9     6     1     3     0     0
 6       163 신종길       2017 KIA   0.500     1     2     1     1     0     0
 7       169 안치홍       2017 KIA   0.500     4    10     1     5     1     0
 8       232 이준호       2013 KIA   0.500     6     8     2     4     1     0
 9       319 최형우       2018 KIA   0.500     4    14     3     7     1     0
10       160 신범수       2017 KIA   0.471     9    17     2     8     2     0
# … with 1,383 more rows, and 18 more variables: HR <int>, TB <int>, RBI <int>,
#   SB <int>, CS <int>, BB <int>, HBP <int>, SO <int>, GDP <int>, SLG <dbl>,
#   OBP <dbl>, E <int>, `height/weight` <chr>, year_born <chr>, position <chr>,
#   career <chr>, starting_salary <chr>, OPS <dbl>

In [ ]:
DF %>% select(SLG, OBP) %>% arrange(desc(SLG), desc(OBP)) %>% tail(10) # NA는 ascending or descending 상관없이 맨 아래!!!!!

   SLG OBP
1  NA  NA
2  NA  NA
3  NA  NA
4  NA  NA
5  NA  NA
6  NA  NA
7  NA  NA
8  NA  NA
9  NA  NA
10 NA  NA

In [ ]:
DF %>% arrange_all() %>% show()

# A tibble: 1,393 x 29
   batter_id batter_name  year team  avg       G    AB     R     H  `2B`  `3B`
       <int> <chr>       <int> <chr> <chr> <int> <int> <int> <int> <int> <int>
 1         0 가르시아     2018 LG    0.350     7    20     1     7     1     0
 2         1 강경학       2011 한화  0.000     4     2     2     0     0     0
 3         1 강경학       2014 한화  -         4     0     2     0     0     0
 4         1 강경학       2015 한화  0.130    10    23     3     3     0     0
 5         1 강경학       2016 한화  0.188    14    32     4     6     1     1
 6         1 강경학       2017 한화  0.222    11    36    10     8     0     0
 7         2 강구성       2013 NC    0.000     3     4     0     0     0     0
 8         2 강구성       2016 NC    0.000     3     1     0     0     0     0
 9         2 강구성       2017 NC    1.000     2     1     0     1     0     0
10         3 강민국       2014 NC    0.000     2     1     0     0     0     0
# … with 1,383 more rows, and 18 more variables: HR <int>, TB <int>, RBI <int>,
#   SB <int>, CS <int>, BB <int>, HBP <int>, SO <int>, GDP <int>, SLG <dbl>,
#   OBP <dbl>, E <int>, `height/weight` <chr>, year_born <chr>, position <chr>,
#   career <chr>, starting_salary <chr>, OPS <dbl>

* ``rename``
  1. https://honingds.com/blog/dplyr-rename/
  2. rename_if, rename_* etc..

In [ ]:
DF <- fread("ftp://210.115.229.94/2020_datascience/6th_data/Pre_Season_Batter.csv", header = F) %>%
  as_tibble()

In [ ]:
DF %>% show()

# A tibble: 1,394 x 29
   V1    V2    V3    V4    V5    V6    V7    V8    V9    V10   V11   V12   V13
   <chr> <chr> <chr> <chr> <chr> <chr> <chr> <chr> <chr> <chr> <chr> <chr> <chr>
 1 batt… batt… year  team  avg   G     AB    R     H     2B    3B    HR    TB
 2 0     가르시아… 2018  LG    0.350 7     20    1     7     1     0     1     11
 3 1     강경학… 2011  한화  0.000 4     2     2     0     0     0     0     0
 4 1     강경학… 2014  한화  -     4     0     2     0     0     0     0     0
 5 1     강경학… 2015  한화  0.130 10    23    3     3     0     0     0     3
 6 1     강경학… 2016  한화  0.188 14    32    4     6     1     1     0     9
 7 1     강경학… 2017  한화  0.222 11    36    10    8     0     0     2     14
 8 2     강구성… 2013  NC    0.000 3     4     0     0     0     0     0     0
 9 2     강구성… 2016  NC    0.000 3     1     0     0     0     0     0     0
10 2     강구성… 2017  NC    1.000 2     1     0     1     0     0     0     1
# … with 1,384 more rows, and 16 more variables: V14 <chr>, V15 <chr>,
#   V16 <chr>, V17 <chr>, V18 <chr>, V19 <chr>, V20 <chr>, V21 <chr>,
#   V22 <chr>, V23 <chr>, V24 <chr>, V25 <chr>, V26 <chr>, V27 <chr>,
#   V28 <chr>, V29 <chr>

In [ ]:
# base R
n <- readLines("ftp://210.115.229.94/2020_datascience/6th_data/Pre_Season_Batter.csv")

In [ ]:
n %>% head()

[1] "batter_id,batter_name,year,team,avg,G,AB,R,H,2B,3B,HR,TB,RBI,SB,CS,BB,HBP,SO,GDP,SLG,OBP,E,height/weight,year_born,position,career,starting_salary,OPS"
[2] "0,가르시아,2018,LG,0.350,7,20,1,7,1,0,1,11,5,0,0,2,0,3,1,0.55,0.409,1,177cm/93kg,1985년 04월 12일,내야수(우투우타),쿠바 Ciego de Avila Maximo Gomez Baez(대),,0.9590000000000001"
[3] "1,강경학,2011,한화,0.000,4,2,2,0,0,0,0,0,1,0,1,0,2,1,0,0.0,0.5,0,180cm/72kg,1992년 08월 11일,내야수(우투좌타),광주대성초-광주동성중-광주동성고,10000만원,0.5"
[4] "1,강경학,2014,한화,-,4,0,2,0,0,0,0,0,0,0,0,0,0,0,0,,,0,180cm/72kg,1992년 08월 11일,내야수(우투좌타),광주대성초-광주동성중-광주동성고,10000만원,"
[5] "1,강경학,2015,한화,0.130,10,23,3,3,0,0,0,3,1,3,0,4,1,9,0,0.13,0.28600000000000003,2,180cm/72kg,1992년 08월 11일,내야수(우투좌타),광주대성초-광주동성중-광주동성고,10000만원,0.416"
[6] "1,강경학,2016,한화,0.188,14,32,4,6,1,1,0,9,2,1,2,0,1,10,0,0.281,0.212,0,180cm/72kg,1992년 08월 11일,내야수(우투좌타),광주대성초-광주동성중-광주동성고,10000만원,0.493"

In [ ]:
col_name <- str_split(n[1], ",") %>% unlist()
col_name

 [1] "batter_id"       "batter_name"     "year"            "team"
 [5] "avg"             "G"               "AB"              "R"
 [9] "H"               "2B"              "3B"              "HR"
[13] "TB"              "RBI"             "SB"              "CS"
[17] "BB"              "HBP"             "SO"              "GDP"
[21] "SLG"             "OBP"             "E"               "height/weight"
[25] "year_born"       "position"        "career"          "starting_salary"
[29] "OPS"

In [ ]:
names(DF)

 [1] "V1"  "V2"  "V3"  "V4"  "V5"  "V6"  "V7"  "V8"  "V9"  "V10" "V11" "V12"
[13] "V13" "V14" "V15" "V16" "V17" "V18" "V19" "V20" "V21" "V22" "V23" "V24"
[25] "V25" "V26" "V27" "V28" "V29"

In [ ]:
names(DF) <- col_name
DF %>% show()

# A tibble: 1,394 x 29
   batter_id batter_name year  team  avg   G     AB    R     H     `2B`  `3B`
   <chr>     <chr>       <chr> <chr> <chr> <chr> <chr> <chr> <chr> <chr> <chr>
 1 batter_id batter_name year  team  avg   G     AB    R     H     2B    3B
 2 0         가르시아    2018  LG    0.350 7     20    1     7     1     0
 3 1         강경학      2011  한화  0.000 4     2     2     0     0     0
 4 1         강경학      2014  한화  -     4     0     2     0     0     0
 5 1         강경학      2015  한화  0.130 10    23    3     3     0     0
 6 1         강경학      2016  한화  0.188 14    32    4     6     1     1
 7 1         강경학      2017  한화  0.222 11    36    10    8     0     0
 8 2         강구성      2013  NC    0.000 3     4     0     0     0     0
 9 2         강구성      2016  NC    0.000 3     1     0     0     0     0
10 2         강구성      2017  NC    1.000 2     1     0     1     0     0
# … with 1,384 more rows, and 18 more variables: HR <chr>, TB <chr>, RBI <chr>,
#   SB <chr>, CS <chr>, BB <chr>, HBP <chr>, SO <chr>, GDP <chr>, SLG <chr>,
#   OBP <chr>, E <chr>, `height/weight` <chr>, year_born <chr>, position <chr>,
#   career <chr>, starting_salary <chr>, OPS <chr>

In [ ]:
DF <- DF[2:nrow(DF), ]
DF %>% show()

# A tibble: 1,393 x 29
   batter_id batter_name year  team  avg   G     AB    R     H     `2B`  `3B`
   <chr>     <chr>       <chr> <chr> <chr> <chr> <chr> <chr> <chr> <chr> <chr>
 1 0         가르시아    2018  LG    0.350 7     20    1     7     1     0
 2 1         강경학      2011  한화  0.000 4     2     2     0     0     0
 3 1         강경학      2014  한화  -     4     0     2     0     0     0
 4 1         강경학      2015  한화  0.130 10    23    3     3     0     0
 5 1         강경학      2016  한화  0.188 14    32    4     6     1     1
 6 1         강경학      2017  한화  0.222 11    36    10    8     0     0
 7 2         강구성      2013  NC    0.000 3     4     0     0     0     0
 8 2         강구성      2016  NC    0.000 3     1     0     0     0     0
 9 2         강구성      2017  NC    1.000 2     1     0     1     0     0
10 69        김태완      2006  한화  0.200 10    15    0     3     0     0
# … with 1,383 more rows, and 18 more variables: HR <chr>, TB <chr>, RBI <chr>,
#   SB <chr>, CS <chr>, BB <chr>, HBP <chr>, SO <chr>, GDP <chr>, SLG <chr>,
#   OBP <chr>, E <chr>, `height/weight` <chr>, year_born <chr>, position <chr>,
#   career <chr>, starting_salary <chr>, OPS <chr>

In [ ]:
# dplyr
DF <- fread("ftp://210.115.229.94/2020_datascience/6th_data/Pre_Season_Batter.csv", header = F) %>%
  as_tibble()

In [ ]:
DF %>% rename_all(funs(as.character(DF[1,]))) %>% show()

# A tibble: 1,394 x 29
   batter_id batter_name year  team  avg   G     AB    R     H     `2B`  `3B`
   <chr>     <chr>       <chr> <chr> <chr> <chr> <chr> <chr> <chr> <chr> <chr>
 1 batter_id batter_name year  team  avg   G     AB    R     H     2B    3B
 2 0         가르시아    2018  LG    0.350 7     20    1     7     1     0
 3 1         강경학      2011  한화  0.000 4     2     2     0     0     0
 4 1         강경학      2014  한화  -     4     0     2     0     0     0
 5 1         강경학      2015  한화  0.130 10    23    3     3     0     0
 6 1         강경학      2016  한화  0.188 14    32    4     6     1     1
 7 1         강경학      2017  한화  0.222 11    36    10    8     0     0
 8 2         강구성      2013  NC    0.000 3     4     0     0     0     0
 9 2         강구성      2016  NC    0.000 3     1     0     0     0     0
10 2         강구성      2017  NC    1.000 2     1     0     1     0     0
# … with 1,384 more rows, and 18 more variables: HR <chr>, TB <chr>, RBI <chr>,
#   SB <chr>, CS <chr>, BB <chr>, HBP <chr>, SO <chr>, GDP <chr>, SLG <chr>,
#   OBP <chr>, E <chr>, `height/weight` <chr>, year_born <chr>, position <chr>,
#   career <chr>, starting_salary <chr>, OPS <chr>

In [ ]:
DF <- DF %>% rename_all(funs(as.character(DF[1,]))) %>% .[2:nrow(DF), ]
DF %>% show()

# A tibble: 1,393 x 29
   batter_id batter_name year  team  avg   G     AB    R     H     `2B`  `3B`
   <chr>     <chr>       <chr> <chr> <chr> <chr> <chr> <chr> <chr> <chr> <chr>
 1 0         가르시아    2018  LG    0.350 7     20    1     7     1     0
 2 1         강경학      2011  한화  0.000 4     2     2     0     0     0
 3 1         강경학      2014  한화  -     4     0     2     0     0     0
 4 1         강경학      2015  한화  0.130 10    23    3     3     0     0
 5 1         강경학      2016  한화  0.188 14    32    4     6     1     1
 6 1         강경학      2017  한화  0.222 11    36    10    8     0     0
 7 2         강구성      2013  NC    0.000 3     4     0     0     0     0
 8 2         강구성      2016  NC    0.000 3     1     0     0     0     0
 9 2         강구성      2017  NC    1.000 2     1     0     1     0     0
10 69        김태완      2006  한화  0.200 10    15    0     3     0     0
# … with 1,383 more rows, and 18 more variables: HR <chr>, TB <chr>, RBI <chr>,
#   SB <chr>, CS <chr>, BB <chr>, HBP <chr>, SO <chr>, GDP <chr>, SLG <chr>,
#   OBP <chr>, E <chr>, `height/weight` <chr>, year_born <chr>, position <chr>,
#   career <chr>, starting_salary <chr>, OPS <chr>

In [ ]:
# mutate를 이용한 data type 변경 일부분
DF %>% mutate(batter_id = as.numeric(batter_id), G = as.numeric(G), AB = as.numeric(AB)) %>% show()

# A tibble: 1,393 x 29
   batter_id batter_name year  team  avg       G    AB R     H     `2B`  `3B`
       <dbl> <chr>       <chr> <chr> <chr> <dbl> <dbl> <chr> <chr> <chr> <chr>
 1         0 가르시아    2018  LG    0.350     7    20 1     7     1     0
 2         1 강경학      2011  한화  0.000     4     2 2     0     0     0
 3         1 강경학      2014  한화  -         4     0 2     0     0     0
 4         1 강경학      2015  한화  0.130    10    23 3     3     0     0
 5         1 강경학      2016  한화  0.188    14    32 4     6     1     1
 6         1 강경학      2017  한화  0.222    11    36 10    8     0     0
 7         2 강구성      2013  NC    0.000     3     4 0     0     0     0
 8         2 강구성      2016  NC    0.000     3     1 0     0     0     0
 9         2 강구성      2017  NC    1.000     2     1 0     1     0     0
10        69 김태완      2006  한화  0.200    10    15 0     3     0     0
# … with 1,383 more rows, and 18 more variables: HR <chr>, TB <chr>, RBI <chr>,
#   SB <chr>, CS <chr>, BB <chr>, HBP <chr>, SO <chr>, GDP <chr>, SLG <chr>,
#   OBP <chr>, E <chr>, `height/weight` <chr>, year_born <chr>, position <chr>,
#   career <chr>, starting_salary <chr>, OPS <chr>

In [ ]:
# mutate_at를 이용한 data type 변경 일부분
DF %>% mutate_at(vars(batter_id, G, AB), as.numeric) %>% show()

# A tibble: 1,393 x 29
   batter_id batter_name year  team  avg       G    AB R     H     `2B`  `3B`
       <dbl> <chr>       <chr> <chr> <chr> <dbl> <dbl> <chr> <chr> <chr> <chr>
 1         0 가르시아    2018  LG    0.350     7    20 1     7     1     0
 2         1 강경학      2011  한화  0.000     4     2 2     0     0     0
 3         1 강경학      2014  한화  -         4     0 2     0     0     0
 4         1 강경학      2015  한화  0.130    10    23 3     3     0     0
 5         1 강경학      2016  한화  0.188    14    32 4     6     1     1
 6         1 강경학      2017  한화  0.222    11    36 10    8     0     0
 7         2 강구성      2013  NC    0.000     3     4 0     0     0     0
 8         2 강구성      2016  NC    0.000     3     1 0     0     0     0
 9         2 강구성      2017  NC    1.000     2     1 0     1     0     0
10        69 김태완      2006  한화  0.200    10    15 0     3     0     0
# … with 1,383 more rows, and 18 more variables: HR <chr>, TB <chr>, RBI <chr>,
#   SB <chr>, CS <chr>, BB <chr>, HBP <chr>, SO <chr>, GDP <chr>, SLG <chr>,
#   OBP <chr>, E <chr>, `height/weight` <chr>, year_born <chr>, position <chr>,
#   career <chr>, starting_salary <chr>, OPS <chr>

* ``sample_frac, sample_n``

**<arguments!>**
 1. ``size`` For sample_n(), the number of rows to select. For sample_frac(), the fraction of rows to select. If tbl is grouped, size applies to each group.
 2. ``replace`` Sample with or without replacement?

In [ ]:
train_set <- sample_frac(DF, 0.7, replace = F)
train_set %>% show()

# A tibble: 975 x 29
   batter_id batter_name year  team  avg   G     AB    R     H     `2B`  `3B`
   <chr>     <chr>       <chr> <chr> <chr> <chr> <chr> <chr> <chr> <chr> <chr>
 1 142       번즈        2018  롯데  0.286 5     14    1     4     0     0
 2 324       하주석      2018  한화  0.222 6     18    3     4     0     0
 3 211       이성열      2003  LG    0.000 2     1     0     0     0     0
 4 202       이대호      2007  롯데  0.242 11    33    8     8     2     0
 5 239       이해창      2011  넥센  0.600 8     5     3     3     0     0
 6 146       서상우      2016  LG    0.471 12    17    3     8     1     0
 7 234       이진영      2017  KT    0.462 5     13    3     6     0     0
 8 193       윤병호      2015  NC    0.200 10    5     1     1     0     0
 9 119       박용택      2002  LG    -     1     0     0     0     0     0
10 284       조동화      2014  SK    0.111 11    18    2     2     1     0
# … with 965 more rows, and 18 more variables: HR <chr>, TB <chr>, RBI <chr>,
#   SB <chr>, CS <chr>, BB <chr>, HBP <chr>, SO <chr>, GDP <chr>, SLG <chr>,
#   OBP <chr>, E <chr>, `height/weight` <chr>, year_born <chr>, position <chr>,
#   career <chr>, starting_salary <chr>, OPS <chr>

In [ ]:
test_set <- setdiff(DF, train_set)
test_set %>% show()

# A tibble: 418 x 29
   batter_id batter_name year  team  avg   G     AB    R     H     `2B`  `3B`
   <chr>     <chr>       <chr> <chr> <chr> <chr> <chr> <chr> <chr> <chr> <chr>
 1 1         강경학      2011  한화  0.000 4     2     2     0     0     0
 2 1         강경학      2014  한화  -     4     0     2     0     0     0
 3 2         강구성      2017  NC    1.000 2     1     0     1     0     0
 4 69        김태완      2008  한화  0.375 10    24    3     9     1     0
 5 4         강민호      2011  롯데  0.353 13    34    4     12    3     0
 6 4         강민호      2017  롯데  0.300 10    20    1     6     0     0
 7 11        강진성      2017  NC    0.000 3     4     0     0     0     0
 8 11        강진성      2018  NC    0.250 6     8     1     2     0     0
 9 12        강한울      2015  KIA   0.600 3     10    2     6     0     1
10 12        강한울      2017  삼성  0.222 10    18    2     4     1     0
# … with 408 more rows, and 18 more variables: HR <chr>, TB <chr>, RBI <chr>,
#   SB <chr>, CS <chr>, BB <chr>, HBP <chr>, SO <chr>, GDP <chr>, SLG <chr>,
#   OBP <chr>, E <chr>, `height/weight` <chr>, year_born <chr>, position <chr>,
#   career <chr>, starting_salary <chr>, OPS <chr>

* ``join``

https://statkclee.github.io/data-science/ds-dplyr-join.html

In [ ]:
ftp_url <- "ftp://210.115.229.94/2020_datascience/6th_data/"
Pre_DF <- fread(paste0(ftp_url, "Pre_Season_Batter.csv"), header = T, encoding = "UTF-8") %>% as_tibble()
Reg_DF <- fread(paste0(ftp_url, "Regular_Season_Batter.csv"), header = T, encoding = "UTF-8") %>% as_tibble()

In [ ]:
Pre_DF %>% show()

# A tibble: 1,393 x 29
   batter_id batter_name  year team  avg       G    AB     R     H  `2B`  `3B`
       <int> <chr>       <int> <chr> <chr> <int> <int> <int> <int> <int> <int>
 1         0 가르시아     2018 LG    0.350     7    20     1     7     1     0
 2         1 강경학       2011 한화  0.000     4     2     2     0     0     0
 3         1 강경학       2014 한화  -         4     0     2     0     0     0
 4         1 강경학       2015 한화  0.130    10    23     3     3     0     0
 5         1 강경학       2016 한화  0.188    14    32     4     6     1     1
 6         1 강경학       2017 한화  0.222    11    36    10     8     0     0
 7         2 강구성       2013 NC    0.000     3     4     0     0     0     0
 8         2 강구성       2016 NC    0.000     3     1     0     0     0     0
 9         2 강구성       2017 NC    1.000     2     1     0     1     0     0
10        69 김태완       2006 한화  0.200    10    15     0     3     0     0
# … with 1,383 more rows, and 18 more variables: HR <int>, TB <int>, RBI <int>,
#   SB <int>, CS <int>, BB <int>, HBP <int>, SO <int>, GDP <int>, SLG <dbl>,
#   OBP <dbl>, E <int>, `height/weight` <chr>, year_born <chr>, position <chr>,
#   career <chr>, starting_salary <chr>, OPS <dbl>

In [ ]:
Reg_DF %>% show()

# A tibble: 2,454 x 29
   batter_id batter_name  year team    avg     G    AB     R     H  `2B`  `3B`
       <int> <chr>       <int> <chr> <dbl> <int> <int> <int> <int> <int> <int>
 1         0 가르시아     2018 LG    0.339    50   183    27    62     9     0
 2         1 강경학       2011 한화  0         2     1     0     0     0     0
 3         1 강경학       2014 한화  0.221    41    86    11    19     2     3
 4         1 강경학       2015 한화  0.257   120   311    50    80     7     4
 5         1 강경학       2016 한화  0.158    46   101    16    16     3     2
 6         1 강경학       2017 한화  0.214    59    84    17    18     2     1
 7         1 강경학       2018 한화  0.278    77   245    42    68    11     1
 8         2 강구성       2013 NC    0         2     2     0     0     0     0
 9         2 강구성       2015 NC    0.2       4     5     0     1     1     0
10         2 강구성       2016 NC    0         2     3     0     0     0     0
# … with 2,444 more rows, and 18 more variables: HR <int>, TB <int>, RBI <int>,
#   SB <int>, CS <int>, BB <int>, HBP <int>, SO <int>, GDP <int>, SLG <dbl>,
#   OBP <dbl>, E <int>, `height/weight` <chr>, year_born <chr>, position <chr>,
#   career <chr>, starting_salary <chr>, OPS <dbl>

In [ ]:
#inner join
inner_join(x = Pre_DF, y = Reg_DF, by = c("batter_id", "batter_name", "year")) %>% show()

# A tibble: 1,358 x 55
   batter_id batter_name  year team.x avg.x   G.x  AB.x   R.x   H.x `2B.x`
       <int> <chr>       <int> <chr>  <chr> <int> <int> <int> <int>  <int>
 1         0 가르시아     2018 LG     0.350     7    20     1     7      1
 2         1 강경학       2011 한화   0.000     4     2     2     0      0
 3         1 강경학       2014 한화   -         4     0     2     0      0
 4         1 강경학       2015 한화   0.130    10    23     3     3      0
 5         1 강경학       2016 한화   0.188    14    32     4     6      1
 6         1 강경학       2017 한화   0.222    11    36    10     8      0
 7         2 강구성       2013 NC     0.000     3     4     0     0      0
 8         2 강구성       2016 NC     0.000     3     1     0     0      0
 9         2 강구성       2017 NC     1.000     2     1     0     1      0
10        69 김태완       2006 한화   0.200    10    15     0     3      0
# … with 1,348 more rows, and 45 more variables: `3B.x` <int>, HR.x <int>,
#   TB.x <int>, RBI.x <int>, SB.x <int>, CS.x <int>, BB.x <int>, HBP.x <int>,
#   SO.x <int>, GDP.x <int>, SLG.x <dbl>, OBP.x <dbl>, E.x <int>,
#   `height/weight.x` <chr>, year_born.x <chr>, position.x <chr>,
#   career.x <chr>, starting_salary.x <chr>, OPS.x <dbl>, team.y <chr>,
#   avg.y <dbl>, G.y <int>, AB.y <int>, R.y <int>, H.y <int>, `2B.y` <int>,
#   `3B.y` <int>, HR.y <int>, TB.y <int>, RBI.y <int>, SB.y <int>, CS.y <int>,
#   BB.y <int>, HBP.y <int>, SO.y <int>, GDP.y <int>, SLG.y <dbl>, OBP.y <dbl>,
#   E.y <int>, `height/weight.y` <chr>, year_born.y <chr>, position.y <chr>,
#   career.y <chr>, starting_salary.y <chr>, OPS.y <dbl>

In [ ]:
# full join
full_join(x = Pre_DF, y = Reg_DF, by = c("batter_id", "batter_name", "year")) %>% head(40)

   batter_id batter_name year team.x avg.x G.x AB.x R.x H.x 2B.x ⋯ GDP.y SLG.y
1   0        가르시아    2018 LG     0.350  7  20    1   7  1    ⋯  3    0.519
2   1        강경학      2011 한화   0.000  4   2    2   0  0    ⋯  0    0.000
3   1        강경학      2014 한화   -      4   0    2   0  0    ⋯  1    0.349
4   1        강경학      2015 한화   0.130 10  23    3   3  0    ⋯  3    0.325
5   1        강경학      2016 한화   0.188 14  32    4   6  1    ⋯  5    0.257
6   1        강경학      2017 한화   0.222 11  36   10   8  0    ⋯  1    0.262
7   2        강구성      2013 NC     0.000  3   4    0   0  0    ⋯  0    0.000
8   2        강구성      2016 NC     0.000  3   1    0   0  0    ⋯  0    0.000
9   2        강구성      2017 NC     1.000  2   1    0   1  0    ⋯  0    0.000
10 69        김태완      2006 한화   0.200 10  15    0   3  0    ⋯  0    0.500
11 69        김태완      2007 한화   0.318  8  22    4   7  3    ⋯  3    0.426
12 69        김태완      2008 한화   0.375 10  24    3   9  1    ⋯  9    0.488
13 69        김태완      2009 한화   0.320 10  25    5   8  3    ⋯  6    0.539
14 69        김태완      2010 한화   0.400  2   5    2   2  0    ⋯  9    0.422
15 69        김태완      2013 한화   0.250  9  28    3   7  0    ⋯  8    0.308
16 69        김태완      2014 한화   0.125 10  16    1   2  0    ⋯ 10    0.414
17 69        김태완      2016 한화   0.000  3   3    0   0  0    ⋯  0    0.500
18 69        김태완      2017 넥센   0.370 12  27    2  10  1    ⋯  2    0.500
19 69        김태완      2018 넥센   0.375  5   8    2   3  1    ⋯  4    0.273
20  3        강민국      2014 NC     0.000  2   1    0   0  0    ⋯  0    0.000
21  3        강민국      2015 NC     0.100  9  10    2   1  1    ⋯  0    0.000
22  3        강민국      2016 NC     0.316 16  19    2   6  2    ⋯  1    0.304
23  4        강민호      2005 롯데   0.250 11  20    2   5  4    ⋯  7    0.341
24  4        강민호      2006 롯데   0.381  9  21    6   8  1    ⋯  5    0.366
25  4        강민호      2007 롯데   0.136 10  22    2   3  0    ⋯ 10    0.421
26  4        강민호      2008 롯데   0.200  5  10    0   2  1    ⋯ 13    0.485
27  4        강민호      2009 롯데   0.167  2   6    0   1  0    ⋯  9    0.412
28  4        강민호      2010 롯데   0.261 10  23    8   6  1    ⋯ 16    0.524
29  4        강민호      2011 롯데   0.353 13  34    4  12  3    ⋯ 18    0.480
30  4        강민호      2012 롯데   0.273  5  11    2   3  0    ⋯  9    0.468
31  4        강민호      2013 롯데   0.333  6  15    2   5  1    ⋯  5    0.376
32  4        강민호      2014 롯데   0.100  8  10    1   1  0    ⋯  6    0.442
33  4        강민호      2015 롯데   0.158 10  19    1   3  0    ⋯ 14    0.639
34  4        강민호      2016 롯데   0.095 10  21    3   2  0    ⋯  7    0.549
35  4        강민호      2017 롯데   0.300 10  20    1   6  0    ⋯ 15    0.482
36  4        강민호      2018 삼성   0.300  4  10    3   3  1    ⋯ 11    0.457
37  5        강백호      2018 KT     0.333  6  18    2   6  1    ⋯  4    0.524
38  8        강상원      2016 한화   -      6   0    1   0  0    ⋯ NA       NA
39  8        강상원      2017 한화   0.000 10   1    4   0  0    ⋯  0    0.286
40  8        강상원      2018 한화   0.000  6   8    1   0  0    ⋯  0    0.000
   OBP.y E.y height/weight.y year_born.y      position.y
1  0.383  9  177cm/93kg      1985년 04월 12일 내야수(우투우타)
2  0.000  1  180cm/72kg      1992년 08월 11일 내야수(우투좌타)
3  0.337  6  180cm/72kg      1992년 08월 11일 내야수(우투좌타)
4  0.348 15  180cm/72kg      1992년 08월 11일 내야수(우투좌타)
5  0.232  7  180cm/72kg      1992년 08월 11일 내야수(우투좌타)
6  0.290  4  180cm/72kg      1992년 08월 11일 내야수(우투좌타)
7  0.000  0  180cm/82kg      1993년 06월 09일 외야수(우투좌타)
8  0.000  0  180cm/82kg      1993년 06월 09일 외야수(우투좌타)
9  0.000  0  180cm/82kg      1993년 06월 09일 외야수(우투좌타)
10 0.500  0  189cm/105kg     1984년 01월 27일 내야수(우투우타)
11 0.324  1  189cm/105kg     1984년 01월 27일 내야수(우투우타)
12 0.362  1  189cm/105kg     1984년 01월 27일 내야수(우투우타)
13 0.419  1  189cm/105kg     1984년 01월 27일 내야수(우투우타)
14 0.418  2  189cm/105kg     1984년 01월 27일 내야수(우투우타)
15 0.324  4  189cm/105kg     1984년 01월 27일 내야수(우투우타)
16 0.350  1  189cm/105kg     1984년 01월 27일 내야수(우투우타)
17 0.458  0  189cm/105kg     1984년 01월 27일 내야수(우투우타)
18 0.380  1  189cm/105kg     1984년 01월 27일 내야수(우투우타)
19 0.270  0  189cm/105kg     1984년 01월 27일 내야수(우투우타)
20 0.000  2  176cm/80kg      1992년 01월 10일 내야수(우투우타)
21 0.000  0  176cm/80kg      1992년 01월 10일 내야수(우투우타)
22 0.200  4  176cm/80kg      1992년 01월 10일 내야수(우투우타)
23 0.267  9  185cm/100kg     1985년 08월 18일 포수(우투우타)
24 0.307 12  185cm/100kg     1985년 08월 18일 포수(우투우타)
25 0.335 11  185cm/100kg     1985년 08월 18일 포수(우투우타)
26 0.365  6  185cm/100kg     1985년 08월 18일 포수(우투우타)
27 0.346  6  185cm/100kg     1985년 08월 18일 포수(우투우타)
28 0.376 11  185cm/100kg     1985년 08월 18일 포수(우투우타)
29 0.366 15  185cm/100kg     1985년 08월 18일 포수(우투우타)
30 0.355  3  185cm/100kg     1985년 08월 18일 포수(우투우타)
31 0.366  8  185cm/100kg     1985년 08월 18일 포수(우투우타)
32 0.325  3  185cm/100kg     1985년 08월 18일 포수(우투우타)
33 0.421  8  185cm/100kg     1985년 08월 18일 포수(우투우타)
34 0.433  4  185cm/100kg     1985년 08월 18일 포수(우투우타)
35 0.361 11  185cm/100kg     1985년 08월 18일 포수(우투우타)
36 0.331  8  185cm/100kg     1985년 08월 18일 포수(우투우타)
37 0.356  6  184cm/98kg      1999년 07월 29일 외야수(우투좌타)
38    NA NA  NA              NA               NA
39 0.214  0  172cm/64kg      1997년 05월 05일 외야수(우투좌타)
40 0.143  0  172cm/64kg      1997년 05월 05일 외야수(우투좌타)
   career.y                                       starting_salary.y OPS.y
1  쿠바 Ciego de Avila Maximo Gomez Baez(대)                        0.902
2  광주대성초-광주동성중-광주동성고               10000만원         0.000
3  광주대성초-광주동성중-광주동성고               10000만원         0.686
4  광주대성초-광주동성중-광주동성고               10000만원         0.673
5  광주대성초-광주동성중-광주동성고               10000만원         0.489
6  광주대성초-광주동성중-광주동성고               10000만원         0.552
7  관산초-부천중-야탑고-NC-상무                   9000만원          0.000
8  관산초-부천중-야탑고-NC-상무                   9000만원          0.000
9  관산초-부천중-야탑고-NC-상무                   9000만원          0.000
10 양목초-신월중-중앙고-성균관대-한화             11000만원         1.000
11 양목초-신월중-중앙고-성균관대-한화             11000만원         0.750
12 양목초-신월중-중앙고-성균관대-한화             11000만원         0.850
13 양목초-신월중-중앙고-성균관대-한화             11000만원         0.958
14 양목초-신월중-중앙고-성균관대-한화             11000만원         0.840
15 양목초-신월중-중앙고-성균관대-한화             11000만원         0.632
16 양목초-신월중-중앙고-성균관대-한화             11000만원         0.764
17 양목초-신월중-중앙고-성균관대-한화             11000만원         0.958
18 양목초-신월중-중앙고-성균관대-한화             11000만원         0.880
19 양목초-신월중-중앙고-성균관대-한화             11000만원         0.543
20 송정동초-충장중-광주제일고-동국대-NC-상무      20000만원         0.000
21 송정동초-충장중-광주제일고-동국대-NC-상무      20000만원         0.000
22 송정동초-충장중-광주제일고-동국대-NC-상무      20000만원         0.504
23 제주신광초-포철중-포철공고-(국제디지털대)-롯데 9000만원          0.608
24 제주신광초-포철중-포철공고-(국제디지털대)-롯데 9000만원          0.673
25 제주신광초-포철중-포철공고-(국제디지털대)-롯데 9000만원          0.756
26 제주신광초-포철중-포철공고-(국제디지털대)-롯데 9000만원          0.850
27 제주신광초-포철중-포철공고-(국제디지털대)-롯데 9000만원          0.758
28 제주신광초-포철중-포철공고-(국제디지털대)-롯데 9000만원          0.900
29 제주신광초-포철중-포철공고-(국제디지털대)-롯데 9000만원          0.846
30 제주신광초-포철중-포철공고-(국제디지털대)-롯데 9000만원          0.823
31 제주신광초-포철중-포철공고-(국제디지털대)-롯데 9000만원          0.742
32 제주신광초-포철중-포철공고-(국제디지털대)-롯데 9000만원          0.767
33 제주신광초-포철중-포철공고-(국제디지털대)-롯데 9000만원          1.060
34 제주신광초-포철중-포철공고-(국제디지털대)-롯데 9000만원          0.982
35 제주신광초-포철중-포철공고-(국제디지털대)-롯데 9000만원          0.843
36 제주신광초-포철중-포철공고-(국제디지털대)-롯데 9000만원          0.788
37 부천북초-이수중-서울고                         45000만원         0.880
38 NA                                             NA                   NA
39 온양온천초-온양중-북일고                       3000만원          0.500
40 온양온천초-온양중-북일고                       3000만원          0.143

In [ ]:
inner_join(x = Pre_DF, y = Reg_DF, by = c("batter_id", "batter_name", "year")) %>% 
 group_by(batter_id, batter_name, year) %>% summarise(Pre_G = mean(G.x, na.rm = T), Reg_G = mean(G.y, na.rm = T)) %>%
 show()

# A tibble: 1,358 x 5
# Groups:   batter_id, batter_name [228]
   batter_id batter_name  year Pre_G Reg_G
       <int> <chr>       <int> <dbl> <dbl>
 1         0 가르시아     2018     7    50
 2         1 강경학       2011     4     2
 3         1 강경학       2014     4    41
 4         1 강경학       2015    10   120
 5         1 강경학       2016    14    46
 6         1 강경학       2017    11    59
 7         2 강구성       2013     3     2
 8         2 강구성       2016     3     2
 9         2 강구성       2017     2     1
10         3 강민국       2014     2     6
# … with 1,348 more rows

In [ ]:
full_join(x = Pre_DF, y = Reg_DF, by = c("batter_id", "batter_name", "year")) %>% 
 group_by(batter_id, batter_name, year) %>% summarise(Pre_G = mean(G.x, na.rm = T), Reg_G = mean(G.y, na.rm = T)) %>%
 show()

# A tibble: 2,489 x 5
# Groups:   batter_id, batter_name [345]
   batter_id batter_name  year Pre_G Reg_G
       <int> <chr>       <int> <dbl> <dbl>
 1         0 가르시아     2018     7    50
 2         1 강경학       2011     4     2
 3         1 강경학       2014     4    41
 4         1 강경학       2015    10   120
 5         1 강경학       2016    14    46
 6         1 강경학       2017    11    59
 7         1 강경학       2018   NaN    77
 8         2 강구성       2013     3     2
 9         2 강구성       2015   NaN     4
10         2 강구성       2016     3     2
# … with 2,479 more rows